<h1>RxJS Examples</h1>

<button class="example" (click)="ofExample()">OF</button>
<button class="example" (click)="fromExample()">FROM</button>
<button class="example" (click)="mapExample()">MAP</button>
<button class="example" (click)="concatExample()">CONCAT</button>
<button class="example" (click)="forkJoinExample()">FORK JOIN</button>
<button class="example" (click)="concatMapExample()">CONCAT MAP</button>
<button class="example" (click)="mergeMapExample()">MERGE MAP</button>
<button class="example" (click)="switchMapExample()">SWITCH MAP</button>
<button class="example" (click)="exhaustMapExample()">EXHAUST MAP</button>