<h1>RxJS Examples</h1>

<p>Please open the console to see the observables.</p>

<h4>Functions to Create Observers</h4>
<button class="example" (click)="ofExample()">OF</button>
<button class="example" (click)="fromExample()">FROM</button>

<h4>Observables Combiners</h4>
<button class="example" (click)="concatExample()">CONCAT</button>
<button class="example" (click)="forkJoinExample()">FORK JOIN</button>

<h4>Simple Operators</h4>
<button class="example" (click)="mapExample()">MAP</button>
<button class="example" (click)="filterExample()">FILTER</button>
<button class="example" (click)="everyExample()">EVERY</button>
<button class="example" (click)="countExample()">COUNT</button>
<button class="example" (click)="toArrayExample()">TO ARRAY</button>

<h4>Higher-Order Mapping Operators</h4>
<button class="example" (click)="concatMapExample()">CONCAT MAP</button>
<button class="example" (click)="mergeMapExample()">MERGE MAP</button>
<button class="example" (click)="switchMapExample()">SWITCH MAP</button>
<button class="example" (click)="exhaustMapExample()">EXHAUST MAP</button>